<!--
            - PRODUCT FEATURED
          -->

<div class="product-featured">

  <h2 class="title">Deal of the day</h2>

  <div class="showcase-wrapper has-scrollbar">

    <div class="showcase-container">

      <div class="showcase">

        <div class="showcase-banner">
          <img src="/images/products/shampoo.jpg" alt="shampoo, conditioner & facewash packs" class="showcase-img">
        </div>

        <div class="showcase-content">

          <div class="showcase-rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>

          <a href="#">
            <h3 class="showcase-title">shampoo, conditioner & facewash packs</h3>
          </a>

          <p class="showcase-desc">
            Lorem ipsum dolor sit amet consectetur Lorem ipsum
            dolor dolor sit amet consectetur Lorem ipsum dolor
          </p>

          <div class="price-box">
            <p class="price">$150.00</p>

            <del>$200.00</del>
          </div>

          <button class="add-cart-btn">add to cart</button>

          <div class="showcase-status">
            <div class="wrapper">
              <p>
                already sold: <b>20</b>
              </p>

              <p>
                available: <b>40</b>
              </p>
            </div>

            <div class="showcase-status-bar"></div>
          </div>

          <div class="countdown-box">

            <p class="countdown-desc">
              Hurry Up! Offer ends in:
            </p>

            <div class="countdown">

              <div class="countdown-content">

                <p class="display-number">360</p>

                <p class="display-text">Days</p>

              </div>

              <div class="countdown-content">
                <p class="display-number">24</p>
                <p class="display-text">Hours</p>
              </div>

              <div class="countdown-content">
                <p class="display-number">59</p>
                <p class="display-text">Min</p>
              </div>

              <div class="countdown-content">
                <p class="display-number">00</p>
                <p class="display-text">Sec</p>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div>
        <style>
          .product-featured .btn {
            background-color: #007bff;
            display: inline-block;
            padding: 4px 15px;
            margin: 4px;
            border-radius: 4px;
            color: white;
          }

          .product-featured .form-group {
            padding: 4px;
            border-radius: 4px;
            margin-top: 2px;
            margin-bottom: 4px;
          }

          .product-featured .d-none {
            display: none;
          }
        </style>
        <button class="btn" onclick="handleUpdateBookClick()">
          Sửa
        </button>
        <button class="btn" onclick="handleDelBookClick()">
          Xoá
        </button>
        <button class="btn" onclick="handleShowAddTable()">
          Thêm
        </button>
        <form class="update-book-form d-none">
          <div class="form-group my-2">
            <label>Tên sách</label>
            <input class="name-ipt form-control" type="text" placeholder="Cây cam ngọt của tôi">
          </div>
          <div class="form-group">
            <label>Giá bán</label>
            <input class="price-ipt form-control" type="text" placeholder="80000 đ">
          </div>
          <div class="form-group">
            <label>Phần trăm giảm</label>
            <input class="discount-ipt form-control" type="text" placeholder="0.2">
          </div>
          <div class="form-group">
            <label>Số lượng</label>
            <input class="count-ipt form-control" type="text" placeholder="20">
          </div>
          <div class="form-group">
            <label>Url ảnh</label>
            <input class="img-ipt form-control" type="text" placeholder="https://example-img.com">
          </div>
          <div class="form-group">
            <label>Thể loại</label>
            <input class="category-ipt form-control" type="text" placeholder="Tiếu thuyết">
          </div>
          <button type="button" 
            class="btn btn-save d-none"
            onclick="handleSaveBookClick()">Lưu</button>
          <button type="button" 
            class="btn btn-add d-none"
            onclick="handleAddBookClick()">Thêm Sách</button>
        </form>

        <script>
          const nameIpt = document.querySelector('.update-book-form .name-ipt');
          const priceIpt = document.querySelector('.update-book-form .price-ipt');
          const discountIpt = document.querySelector('.update-book-form .discount-ipt');
          const countIpt = document.querySelector('.update-book-form .count-ipt');
          const imgIpt = document.querySelector('.update-book-form .img-ipt');
          const updateBookForm = document.querySelector('.update-book-form');
          const categoryIpt = document.querySelector('.update-book-form .category-ipt');

          const btnAdd = document.querySelector('.update-book-form .btn-add');
          const btnSave = document.querySelector('.update-book-form .btn-save');


          const handleUpdateBookClick = async () =>
          {
            const id = localStorage.getItem('selected-book-id');
            fetch(`http://localhost:3000/api/book/read`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                id: id
              })
            })
              .then(res => res.json())
              .then(data => {
                nameIpt.value = data[0].name
                priceIpt.value = data[0].price
                discountIpt.value = data[0].discount
                countIpt.value = data[0].quantity
                imgIpt.value = data[0].main_image_url
                categoryIpt.value = data[0].scname
                updateBookForm.classList.toggle('d-none');
                btnSave.classList.remove('d-none')
                btnAdd.classList.add('d-none')
              })
          }

          const handleSaveBookClick = () =>
          {
            const id = localStorage.getItem('selected-book-id');
            fetch('http://localhost:3000/api/book/update', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                id,
                name: nameIpt.value,
                price: priceIpt.value,
                discount: discountIpt.value,
                quantity: countIpt.value,
                img: imgIpt.value
              })
            }).then(res => res.json()).then(data => alert(data.message));
          }

          const handleDelBookClick = () =>
          {
            const id = localStorage.getItem('selected-book-id');
            fetch('http://localhost:3000/api/book/delete', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                id
              })
            }).then(res => res.json()).then(data => alert(data.message));
          }

          const handleShowAddTable = () => {
            updateBookForm.classList.toggle('d-none');
            btnSave.classList.add('d-none')
            btnAdd.classList.remove('d-none')

            nameIpt.value = "";
            priceIpt.value = "";
            discountIpt.value = "";
            countIpt.value = "";
            imgIpt.value = "";
            categoryIpt.value = "";
          }

          const handleAddBookClick = () => {
            fetch('http://localhost:3000/api/book/create', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: nameIpt.value,
                price: priceIpt.value,
                discount: discountIpt.value,
                quantity: countIpt.value,
                img: imgIpt.value,
                sc: categoryIpt.value
              })
            }).then(res => res.json()).then(data => alert(data.message));
          }
        </script>
      </div>
    </div>

    <!-- <div class="showcase-container">

      <div class="showcase">

        <div class="showcase-banner">
          <img src="/images/products/jewellery-1.jpg" alt="Rose Gold diamonds Earring" class="showcase-img">
        </div>

        <div class="showcase-content">

          <div class="showcase-rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>

          <h3 class="showcase-title">
            <a href="#" class="showcase-title">Rose Gold diamonds Earring</a>
          </h3>

          <p class="showcase-desc">
            Lorem ipsum dolor sit amet consectetur Lorem ipsum
            dolor dolor sit amet consectetur Lorem ipsum dolor
          </p>

          <div class="price-box">
            <p class="price">$1990.00</p>
            <del>$2000.00</del>
          </div>

          <button class="add-cart-btn">add to cart</button>

          <div class="showcase-status">
            <div class="wrapper">
              <p> already sold: <b>15</b> </p>

              <p> available: <b>40</b> </p>
            </div>

            <div class="showcase-status-bar"></div>
          </div>

          <div class="countdown-box">

            <p class="countdown-desc">Hurry Up! Offer ends in:</p>

            <div class="countdown">
              <div class="countdown-content">
                <p class="display-number">360</p>
                <p class="display-text">Days</p>
              </div>

              <div class="countdown-content">
                <p class="display-number">24</p>
                <p class="display-text">Hours</p>
              </div>

              <div class="countdown-content">
                <p class="display-number">59</p>
                <p class="display-text">Min</p>
              </div>

              <div class="countdown-content">
                <p class="display-number">00</p>
                <p class="display-text">Sec</p>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div> -->

  </div>

</div