<!--
      - TESTIMONIALS, CTA & SERVICE
    -->

    <div>

        <div class="container">
  
          <div class="testimonials-box">
  
            <!--
              - TESTIMONIALS
            -->
  
            <div class="testimonial">
  
              <h2 class="title">testimonial</h2>
  
              <div class="testimonial-card">
  
                <img src="/images/testimonial-1.jpg" alt="alan doe" class="testimonial-banner" width="80" height="80">
  
                <p class="testimonial-name">Alan Doe</p>
  
                <p class="testimonial-title">CEO & Founder Invision</p>
  
                <img src="/icons/quotes.svg" alt="quotation" class="quotation-img" width="26">
  
                <p class="testimonial-desc">
                  Lorem ipsum dolor sit amet consectetur Lorem ipsum
                  dolor dolor sit amet.
                </p>
  
              </div>
  
            </div>
  
  
  
            <!--
              - CTA
            -->
  
            <div class="cta-container">
  
              <img src="/images/cta-banner.jpg" alt="summer collection" class="cta-banner">
  
              <a href="#" class="cta-content">
  
                <p class="discount">25% Discount</p>
  
                <h2 class="cta-title">Summer collection</h2>
  
                <p class="cta-text">Starting @ $10</p>
  
                <button class="cta-btn">Shop now</button>
  
              </a>
  
            </div>
  
  
  
            <!--
              - SERVICE
            -->
  
            <div class="service">
  
              <h2 class="title">Our Services</h2>
  
              <div class="service-container">
  
                <a href="#" class="service-item">
  
                  <div class="service-icon">
                    <ion-icon name="boat-outline"></ion-icon>
                  </div>
  
                  <div class="service-content">
  
                    <h3 class="service-title">Miễn phí vận chuyển toàn quốc</h3>
                    <p class="service-desc">Cho đơn hàng từ 500k</p>
  
                  </div>
  
                </a>
  
                <a href="#" class="service-item">
  
                  <div class="service-icon">
                    <ion-icon name="rocket-outline"></ion-icon>
                  </div>
  
                  <div class="service-content">
  
                    <h3 class="service-title">Vận chuyển nhanh trong ngày</h3>
                    <p class="service-desc">Chỉ dành cho khách hàng tại TP Hồ Chí Minh</p>
  
                  </div>
  
                </a>
  
                <a href="#" class="service-item">
  
                  <div class="service-icon">
                    <ion-icon name="call-outline"></ion-icon>
                  </div>
  
                  <div class="service-content">
  
                    <h3 class="service-title">Hỗ trợ trực tuyến</h3>
                    <p class="service-desc">Thời gian: 8h sáng - 21h tối</p>
  
                  </div>
  
                </a>
  
                <a href="#" class="service-item">
  
                  <div class="service-icon">
                    <ion-icon name="arrow-undo-outline"></ion-icon>
                  </div>
  
                  <div class="service-content">
  
                    <h3 class="service-title">Chính sách hoàn trả</h3>
                    <p class="service-desc">Thao tác dễ dàng, miễn phí đổi trả trong vòng 1 tuần</p>
  
                  </div>
  
                </a>
  
                <a href="#" class="service-item">
  
                  <div class="service-icon">
                    <ion-icon name="ticket-outline"></ion-icon>
                  </div>
  
                  <div class="service-content">
  
                    <h3 class="service-title">Giảm giác lên đến 30%</h3>
                    <p class="service-desc">Cho đơn hàng đầu tiên của khách hàng đã đăng ký</p>
  
                  </div>
  
                </a>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div>