<div class="showcase">

    <div class="showcase-banner">
      <img src="/images/products/clothes-3.jpg" alt="Black Floral Wrap Midi Skirt" class="product-img default" width="300">
      <img src="/images/products/clothes-4.jpg" alt="Black Floral Wrap Midi Skirt" class="product-img hover" width="300">

      <p class="showcase-badge angle pink">new</p>

      <div class="showcase-actions">
        <button class="btn-action">
          <ion-icon name="heart-outline" role="img" class="md hydrated" aria-label="heart outline"></ion-icon>
        </button>

        <button class="btn-action">
          <ion-icon name="eye-outline" role="img" class="md hydrated" aria-label="eye outline"></ion-icon>
        </button>

        <button class="btn-action">
          <ion-icon name="repeat-outline" role="img" class="md hydrated" aria-label="repeat outline"></ion-icon>
        </button>

        <button class="btn-action">
          <ion-icon name="bag-add-outline" role="img" class="md hydrated" aria-label="bag add outline"></ion-icon>
        </button>
      </div>
    </div>

    <div class="showcase-content">
      <a href="#" class="showcase-category">skirt</a>

      <h3>
        <a href="#" class="showcase-title">Black Floral Wrap Midi Skirt</a>
      </h3>

      <div class="showcase-rating">
        <ion-icon name="star" role="img" class="md hydrated" aria-label="star"></ion-icon>
        <ion-icon name="star" role="img" class="md hydrated" aria-label="star"></ion-icon>
        <ion-icon name="star" role="img" class="md hydrated" aria-label="star"></ion-icon>
        <ion-icon name="star" role="img" class="md hydrated" aria-label="star"></ion-icon>
        <ion-icon name="star" role="img" class="md hydrated" aria-label="star"></ion-icon>
      </div>

      <div class="price-box">
        <p class="price">$25.00</p>
        <del>$35.00</del>
      </div>

    </div>

  </div>